<h1>Results: </h1>
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Platform</th>
            <th>Year Of Release</th>
            <th>Genre</th>
            <th>Publisher</th>
            <th>Critic Score (Out of 100)</th>
            <th>Developer</th>
            <th>Rating</th>


        </tr>
    </thead>
    <tbody></tbody>
    <% for (game of games){
        const name = game['Name']
        const platform = game['Platform']
        const yofr = game['Year_of_Release']
        const genre = game['Genre']
        const publisher = game['Publisher']
        const critic = game['Critic_Score']
        const developer = game['Developer']
        const rating = game['Rating']
    %>
      <tr class="mb-2"> 
        <td> <%=name %> </td>
        <td> <%=platform %> </td>
        <td> <%=yofr %> </td>
        <td> <%=genre %> </td>
        <td> <%=publisher %> </td>
        <td> <%=critic %> </td>
        <td> <%=developer %></td>
        <td> <%=rating %></td>
    </tr>
    <% } %>
    </tbody>
</table>

<pre>
   
</pre>