<div class="bg-light m-5 p-2 border border-primary border-2">
    <div class="">
        <span>
            <%= game['Genre'] %> 
            <%= game['Publisher'] %> 
            <%= game['Year_of_Release'] %> 
        </span>
        <strong><%= game['Name'] %></strong>
        
    </div>
    
    <div><a href="/addCourse/<%= game['_id'] %>">(add to collection)</a></div>
    <div class="mb-1">
       Developer: <%=game['Developer']%>,
       Critic Score: <%=game['Critic_Score']%>,
       Platform: <%= game['Platform'] %>
       <br>
    </div>

</div>

<hr>
