<ul>
    <% for (game of games){%>
        const name = game['Name']
        const platform = game['Platform']
        const yofr = game['Year_of_Release']
        const genre = game['Genre']
        const publisher = game['Publisher']
        const critic = game['Critic_Score']
        const developer = game['Developer']
        const rating = game['Rating']
        <li> 
            <a href="/schedule/remove/<%= game._id %>">X</a>
        <%=name %> 
        <%=platform %> 
        <%=yofr %>
        <%=genre %>
        <%=publisher %>
        <%=critic %>
        <%=developer %>
        <%=rating %>
        </li>
    <% } %>
</ul>
